<div class="jumbotron jumbotron-fluid mb-0 blood-bank-color">

    <!-- <h2 class="text-white">Find blood bank nearby</h2>

    <div class="input-group md-form form-sm form-1 pl-0">
        <div class="input-group-prepend">
        </div>
        <input class="form-control my-0 py-1" type="text" placeholder="Search area" aria-label="Search">
    </div> -->
    <div class="header1 text-center">
        <h1 class="text-white py-2">
            <br>
            <br>
            Blood Donation FAQs
        </h1>
    </div>
</div>
<div>


    <br>
    <br>
    <h3 class="contact"></h3>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <div class="card new border-0 border-bottom-0 border-right-0  border-top-0 ml-10" style="width:500px;">
                    <div class="text-center contact51">
                        <h4> <img src="../../assets/image/1313229.png" class="img3">
                            Is it safe to give blood?</h4>
                    </div>
                    <br>
                    <br>
                    <p class=".text-body contact51"><em>
                            Yes. Donating blood is safe. The supplies used to collect blood are sterile and only used
                            once.
                        </em> </p>

                    <br>
                    <br>

                    <p class=".text-body contact4"><em><u></u></em> </p>
                    <br>
                    <br>

                    <br>
                    <br>
                    <div class="text-center contact51">
                        <h4> <img src="../../assets/image/1313229.png" class="img3">
                            How long does the whole process take?</h4>
                    </div>
                    <br>
                    <br>
                    <p class=".text-body contact51"><em>
                            The entire whole process, from registration to post-donation refreshments, takes less than
                            an hour. The actual blood draw takes 5 to 10 minutes. We encourage you to make appointments
                            online to avoid delays.
                        </em> </p>

                    <br>
                    <br>

                    <p class=".text-body contact4"><em><u></u></em> </p>
                    <br>
                  
                    <div class="text-center contact51">
                        <h4> <img src="../../assets/image/1313229.png" class="img3">
                            How will I feel after giving?</h4>
                    </div>
                    <br>
                    <br>
                    <p class=".text-body contact51"><em>
                            Most people feel fine after giving blood. A unit of blood (500ml) is less than a pint, and
                            the average adult body contains 10 to 12 pints of blood. Your body makes new blood
                            constantly, and the fluid you give will be replaced within hours. Eating a meal within a few
                            hours before giving will help you with the donation.
                        </em> </p>

                    <br>
                    <br>

                    <p class=".text-body contact4"><em><u></u></em> </p>

                </div>
            </div>

            <div class="col-sm">
                <div class="card new border border-bottom-0 border-right-0  border-top-0" style="width:500px">
                    <div class="text-center contact51">
                        <h4> <img src="../../assets/image/1313229.png" class="img3">
                            Are there age limits for blood donors?</h4>
                    </div>
                    <br>
                    <br>
                    <p class=".text-body contact51"><em>
                            Each state sets the minimum blood donor age. You must be at least 16 or 17-years-old
                            depending on your state. Some blood centers may have an upper age limit. Please call and
                            check with your local blood center for more information.
                        </em> </p>

                    <p class=".text-body contact4"><em><u></u></em> </p>

                    <div class="text-center contact51">
                        <h4> <img src="../../assets/image/1313229.png" class="img3">
                            Just how much blood is taken?</h4>
                    </div>
                    <br>
                    <br>
                    <p class=".text-body contact51"><em>
                            A unit (about one pint) ofblood is drawn. The blood volume lost during donation is replaced
                            by the body within 24 hours. In about a month, the body will have replaced all of the red
                            cells as well.
                        </em> </p>

                    <br>
                    <br>

                    <p class=".text-body contact4"><em><u></u></em> </p>
                    <br>
                    <br>

                    
                    <div class="text-center contact51">
                        <h4> <img src="../../assets/image/1313229.png" class="img3">
                            What if I’ve got a tattoo or body piercing?</h4>
                    </div>
                    <br>
                    <br>
                    <p class=".text-body contact51"><em>
                            Tattoo, ear and body piercings are eligible if they were done at a state-licensed
                            facility. Otherwise, you are deferred for 12 months.
                        </em> </p>

                    <br>
                    <br>

                    <p class=".text-body contact4"><em><u></u></em> </p>
                    <br>
                    <br>

                    <br>
                    <br>

                </div>
            </div>
        </div>
    </div>


</div>
