<div class="jumbotron jumbotron-fluid mb-0 blood-bank-color">

    <!-- <h2 class="text-white">Find blood bank nearby</h2>

    <div class="input-group md-form form-sm form-1 pl-0">
        <div class="input-group-prepend">
        </div>
        <input class="form-control my-0 py-1" type="text" placeholder="Search area" aria-label="Search">
    </div> -->
    <div class=" text-center">
        <h1 class="text-white py-4">
        Your views are valuable to us!
        </h1>
    </div>
</div>
<br>

<div class="container-fluid">

    <div class="card border-1 card1">
        <div class="card-body ">
            <form action="#">
                <div class="form-group mt-2">
                    <div class="form-group row">
                        <div class="col-6">
                                        <label for="Hospital Name" class="ml-2 ">Hospital Name</label>
                                        <input type="text" class="form-control ml-2 area1" id="area" placeholder="Enter Hospital Name">
                                    </div>
                                    <div class="col-6">
                                            <label for="City" class="ml-2 ">City</label>
                                            <input type="text" class="form-control ml-2 area1" id="area" placeholder="Enter City">
                                        </div>
                                        </div>
                                        </div>
                                       
                                        <br>
                                        <div class="container margin4" >
                                                <h4>Share Your Experience Here</h4>
                                                <form>
                                                  <div class="form-group">
                                                    <label for="comment">Comment:</label>
                                                    <textarea class="form-control rounded-0 area2" id="exampleFormControlTextarea1" rows="4" ></textarea>
                                                  </div>
                                                 
                                          
                                                   <button type="submit" class="btn btn-primary">Post</button>
                                                </form>
                                              </div>
                                            </form></div></div></div>