.text1
{
color: black;
}
.bg-image
{
   height: 80%;
   width: 80%;
    
}
/*.sha
{
    box-shadow:20px 20px 50px 15px grey;  
}*/
.col1
{
background-color:#F9274E;
}
.col2
{
    height: 100%;
    width: 100%;
}
.col3
{
    height: 80%;
    width: 100%;
 background-color:#F9274E;

}



/*////////////*/
a:hover{    
    color: black;
    border-radius: 0px;
    background-color: whitesmoke;
}
