<div>
<div class="col1">
    <br>
    <br>
    <div class="container col1 mb-0">
            <app-login-tab></app-login-tab>
        <div class="card sha">
                
            <div class="card-body">
                <div class="container-fluid">
                    <div class="row no-gutter">
                        <div class="d-none d-md-flex col-md-4 col-lg-6 "><br><br>
                            <div class="text-center col2"> <br>
                                <br><img class=" bg-image " src="../../assets/image/883332.svg"></div>
                        </div>
                        <div class="col-md-8 col-lg-6">
                            <div class="login d-flex align-items-center py-5">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-9 col-lg-8 mx-auto">
                                            <div>
                                                <h3 class="login-heading mb-4">


                                                    <div class="text-center">
                                                        <br> <img src="../assets/image/893529.svg" alt="logo"
                                                            style="width:30px;">LOGIN
                                                    </div>
                                                </h3>

                                            </div>
                                            <form>
                                                <div class="form-label-group">
                                                    <input type="email" id="inputEmail" class="form-control"
                                                        placeholder="UserName" required autofocus>
                                                    <label for="inputEmail"></label>
                                                </div>

                                                <div class="form-label-group">
                                                    <input type="password" id="inputPassword" class="form-control"
                                                        placeholder="Password" required>
                                                    <label for="inputPassword"></label>
                                                </div>

                                                <div class="custom-control custom-checkbox mb-3">
                                                    <input type="checkbox" class="custom-control-input"
                                                        id="customCheck1">
                                                    <label class="custom-control-label" for="customCheck1">Remember
                                                        me</label>
                                                </div>
                                                <button
                                                    class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                                                    type="submit">Sign in</button>
                                                <div class="text-center">
                                                    <a class="small" href="#">
                                                        <div>Forgot password?</div>
                                                    </a></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>>
</div>