
<br>
<br>
<h3 class="contact"><u>We Are Here To Support You</u></h3>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <div class="card new border-0" style="width:500px">
        <p class=".text-body contact3"><em>Blood For Life strives to provide the best service possible with every
            contact!</em> </p>
        <br>
        <h3 class="contact1"><u>At Choice you always talk to a human!</u></h3>
        <br>
        <p class=".text-body contact3"><em>Have questions about background screening?
            Our entire team receives specialized training regularly to ensure you're receiving the best information
            possible.
            From basic questions to complex compliance inquiries, we're here to help!</em> </p>

        <p class=".text-body contact3"><em>Interested in learning more about our services?
            Our Account Executives take the time to discuss your existing background screening program
            and help you make smart decisions that best meet your needs. </em> </p>
        <br>
        <br>
      </div>
    </div>

    <div class="col-sm">
      <div class="card new border border-bottom-0 border-right-0  border-top-0" style="width:500px">
        <p class=".text-body contact4"><em><u>Corporate Office</u></em> </p>
        <br>
        <br>
        <p class=".text-body contact5"><em>
            CognizantQuadron Phase-2<br>
            Hinjewadi Pune<br>
            411057
          </em> </p>

        <br>
        <br>

        <p class=".text-body contact4"><em><u>Direct Contact</u></em> </p>
        <br>
        <br>
        <p class=".text-body contact5"><em>
            Phone: xxxxxxxxxx<br>
            Toll Free: xxxxxxxxxx<br>
            Email: xxxx@xxxx.com
          </em> </p>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h2>Write Your Queries Here</h2>
  <form>
    <div class="form-group">
      <label for="comment">Comment:</label>
      <textarea class="form-control" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
  </form>
</div>


<br>
<br>
