
<div class="bg-info nav11">
    
    <div class="text-white text-center py-3">
            
      <ul class="list-inline mb-0">
          
  <em><h4>
        <li class="active list-inline-item">
          <a class="nav-link"> Home</a>
        </li>
  
        <li class="active list-inline-item">
          <a class="nav-link">About</a>
        </li>
  
        <li class="active list-inline-item">
          <a class="nav-link">Service</a>
        </li>

        <li class="active list-inline-item">
                <a class="nav-link">FAQ</a>
        </li>
        <li class="active list-inline-item">
                <a class="nav-link">More</a>
              </li></h4>

  </em>
  
  
      </ul>
    </div>
  </div>


