<!-- -->
<div>
    <div class="row">
        <div class="col-lg-3 col-sm-0 py-4 px-4">

        </div>

        <div class="col-lg-6 col-sm-12 py-4 px-4 tips-center">
            <div class="card h-100 border-0">
                <div class="card-body">
                    <h3 class="card-title text-center"><em>Getting an appointment!</em></h3>
                    <p class="tips-center">Every 2 seconds, someone in the country is in urgent need of blood. It is
                        crucial for surgeries, emergency patients, accidents and burn victims. Whether you donate whole
                        blood, red cells, platelets or plasma, this lifesaving care starts with you making a generous
                        donation.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-0 py-4 px-4">

        </div>

    </div>


    <div class="container card1">

        <div class="row ">

            <div class="col-sm-4 py-2 ">
                <div class="card  index-card sha">
                    <div class="card-body d-flex flex-column mt-auto">
                        <img src="../../assets/image/1066371.svg" class="img-al  card-img-top" style="height: 45%;">
                        <h4 class="card-title">Who can give blood?</h4>
                        <p class="card-text">All Details You Need To Know To Doante-Blood</p>
                        <a href="#" class="btn btn-danger mt-auto">Click Me</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 py-2">
                <div class="card  index-card sha ">
                    <div class="card-body  d-flex flex-column mt-auto">
                        <img src="../../assets/image/854929.svg" class="img-al card-img-top img2" style="height: 45%;">
                        <h4 class="card-title">Where To Donate?</h4>
                        <p class="card-text">Find the nearby places where you want to donate and save life!</p>
                        <a href="#" class="btn btn-danger mt-auto">Click Me</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 py-2">
                <div class="card   index-card sha">
                    <div class="card-body  d-flex flex-column mt-auto">
                        <img src="../../assets/image/appointment.svg" class="img-al card-img-top" style="height: 44%;">
                        <h4 class="card-title">Getting an appointment!</h4>
                        <p class="card-text">Find out how we plan your donations and when you'll
                            get an appointment.</p>
                        <a href="#" class="btn btn-danger mt-auto">Click Me</a>
                    </div>
                </div>
            </div>


            <div class="col-sm-4 py-2">
                <div class="card  index-card sha ">
                    <div class="card-body  d-flex flex-column mt-auto">
                        <img src="../../assets/image/hosp.svg" class="img-al card-img-top" style="height: 45%;">
                        <h4 class="card-title">Check the availability of bloostock in hospital nearby!</h4>
                        <p class="card-text">Check the availability of bloostock in hospital nearby!
                        </p>
                        <a href="#" class="btn btn-danger mt-auto">Click Me</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 py-2">
                    <div class="card  index-card sha ">
                        <div class="card-body  d-flex flex-column mt-auto">
                            <img src="../../assets/image/hosp.svg" class="img-al card-img-top" style="height: 45%;">
                            <h4 class="card-title">Check the availability of bloostock in hospital nearby!</h4>
                            <p class="card-text">Check the availability of bloostock in hospital nearby!
                            </p>
                            <a href="#" class="btn btn-danger mt-auto">Click Me</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 py-2">
                        <div class="card  index-card sha ">
                            <div class="card-body  d-flex flex-column mt-auto">
                                <img src="../../assets/image/hosp.svg" class="img-al card-img-top" style="height: 45%;">
                                <h4 class="card-title">Check the availability of bloostock in hospital nearby!</h4>
                                <p class="card-text">Check the availability of bloostock in hospital nearby!
                                </p>
                                <a href="#" class="btn btn-danger mt-auto">Click Me</a>
                            </div>
                        </div>
                    </div>



        </div>
    </div>
</div>

<div>


    <br>
    <br>
    <h3 class="contact"></h3>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <div class="card new border-0 ml-10" style="width:500px;">
                    <div class="card-img-top text-center img4 margin11">
                        <img src="../../assets/image/emergency.svg">
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="card new border-0 border-bottom-0 border-right-0  border-top-0" style="width:500px">
                    <div class="text-center contact5">
                        <h4> <img src="../../assets/image/1313229.png" class="img3">
                            Who can you help by donating blood?</h4>
                    </div>
                    <br>
                    <br>
                    <p class=".text-body contact5"><em>
                            Every day, patients of all ages are in need of blood transfusion. From premature babies to
                            adults. Accidents and victims, Thalassemia patients, Sickle cell disease patients, Cancer
                            patients, organ transplant patients, and heart surgery patients. In fact, some Thalassemia,
                            Sickle cell and Cancer patients need blood on a daily basis.
                        </em> </p>

                    <br>
                    <br>

                    <p class=".text-body contact4"><em><u></u></em> </p>
                    <br>
                    <br>

                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>


</div>
<div>


    <br>
    <br>
    <h3 class="contact"></h3>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <div class="card new border-0 border-bottom-0 border-right-0  border-top-0" style="width:500px">
                    <div class="text-center contact5">
                        <h4> <img src="../../assets/image/709114.png" class="img3">
                            How often can you donate?</h4>
                    </div>
                    <p class=".text-body contact5"><em>
                            <b>Whole blood</b>:
                            This can be donated after every 56 days or 08 weeks.
                        </em> </p>
                    <p class=".text-body contact5"><em>
                            <b>Platelets</b>:
                            Platelets can be donated every 7 days and up to 24 times in a year.
                        </em> </p>
                    <p class=".text-body contact5"><em>
                            <b>Plasma</b>:
                            Every 28 days and up to 13 times in a year
                        </em> </p>
                    <p class=".text-body contact5"><em>
                            <b>Double Red Cells</b>:
                            These can be donated every 112 days or up to 3 times every year.
                        </em> </p>
                    <br>
                    <br>

                    <p class=".text-body contact4"><em><u></u></em> </p>
                    <br>
                    <br>

                    <br>
                    <br>
                </div>
            </div>

            <div class="col-sm">
                <div class="col-sm">
                    <div class="card new border-0 ml-10" style="width:500px;">
                        <div class="card-img-top text-center img4 margin11">
                            <img src="../../assets/image/health.svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <br>
    <br>


</div>