

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:  rgb(133, 2, 35);
    color: white;
    text-align: left;
 }
 .percent
 {
     width: 100%;
     height: 100%;

 }
 .newsfeatures
 {
     text-align:center;
 }
.contact
{
    margin-left: 9%;
    color: red;
}
.contact1
{
    margin-left: 20%;
    color: blue;
}
.contact3
{
    margin-left: 20%;
    color:black;
}
.max
{
    height: 50%;
    width: 100%;
   
}
.contact4
{
    margin-left: 20%;
    color:black;
    font-size: x-large;

}
.contact5
{
    margin-left: 20%;
    font-size: large;
}
.availablity
{
    color:black;
}
.availablity1
{
    color: rgb(133, 2, 35);
}

.margin1{
    margin-left: 8%;
    margin-right: 8%;
}
.dim
{
    width: 10%;
    height: 5%;
}
.dim1
{
    margin-left: 10%;
}
.dim2
{
    width: 90%;
    height: 90%;
}
.cardwidth
{
    width:100%;
    height: 55%;
}
.cardwidth1
{
    width:100%;
    height: 50%;
}
.casrolecolor
{
    color:  rgb(133, 2, 35);
}
.margin1{
    margin-left: 8%;
    margin-right: 8%;
}