<div class="row justify-content-center margin1">
    <div class="card mt-2 dim2 ">
        <div class="class-title">
            <br>
            <h3 class="ml-4"><u>Signup</u> </h3>
        </div>
        <div class="card-body">
            <form action="#">
                <div class="form-group row mt-4">
                    <div class="col-6">
                        <label for="usrName">Username</label>
                        <input type="text" class="form-control form-control ml-2" id="usrName"
                            placeholder="Enter Username">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <label for="first" class="ml-2">First Name</label>
                        <input type="text" class="form-control form-control ml-2" id="first"
                            placeholder="Enter First Name">
                    </div>
                    <div class="col-6 ">
                        <label for="last" class="mr-2">Last Name</label>
                        <input type="text" class="form-control form-control mr-3" id="last"
                            placeholder="Enter Last Name">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <label for="age" class="ml-2">Age</label>
                        <input type="text" class="form-control form-control ml-2" id="age" placeholder="Enter Age">
                    </div>
                    <div class="col-md-4">
                        <label for="gender" class="ml-2">Gender</label>
                        <select class="form-control ml-2">
                            <option>Male</option>
                            <option>Female</option>

                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <label for="Contact number" class="ml-2">Contact number</label>
                        <input type="text" class="form-control form-control ml-2" id="pass"
                            placeholder="Enter Contact number">
                    </div>
                    <div class="col-6">
                        <label for="Email" class="mr-2">Email</label>
                        <input type="text" class="form-control form-control mr-3" id="confpass"
                            placeholder="Enter Email">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <label for="Weight" class="ml-2">Weight</label>
                        <input type="text" class="form-control form-control ml-2" id="weight"
                            placeholder="Enter Weight">
                    </div>
                    <div class="col-6">
                        <label for="Pincode" class="mr-2">Pincode</label>
                        <input type="text" class="form-control form-control mr-3" id="Pincode"
                            placeholder="Enter Pincode">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <label for="State" class="ml-2">State</label>
                        <select class="form-control ml-2">
                            <option>Andhra Pradesh</option>
                            <option>Arunachal Pradesh</option>
                            <option>Assam </option>
                            <option>Bihar</option>
                            <option>Rajasthan</option>
                            <option>Madhya Pradesh</option>
                            <option>Maharashtra</option>
                            <option>Uttar Pradesh</option>
                            <option>Gujarat</option>
                            <option>Karnataka</option>
                            <option>Odisha</option>
                            <option>Chhattisgarh</option>
                            <option>Tamil Nadu</option>
                            <option>Telangana</option>
                            <option>West Bengal</option>
                            <option>Jharkhand</option>
                            <option>Ladakh</option>
                            <option>Himachal Pradesh</option>
                            <option>Uttarakhand</option>
                            <option>Punjab</option>
                            <option>Haryana</option>
                            <option>Kerala</option>
                            <option>Meghalaya</option>
                            <option>Manipur</option>
                            <option>Mizoram</option>
                            <option>Nagaland</option>
                            <option>Sikkim</option>
                            <option>Goa</option>
                            <option>Andaman and Nicobar Islands</option>
                            <option>Delhi</option>
                            <option>Puducherry</option>
                            <option>Dadra and Nagar Haveli </option>
                            <option>Chandigarh</option>
                            <option>Daman and Diu</option>
                            <option>Lakshadweep</option>



                        </select>
                    </div>

                    <div class="col-md-4">
                        <label for="Area" class="ml-2">Area</label>
                        <input type="text" class="form-control form-control ml-2" id="area" placeholder="Enter Area">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <label for="Pincode" class="ml-2">Pincode</label>
                        <input type="text" class="form-control form-control ml-2 dim1" id="pass"
                            placeholder="Enter Pincode">
                    </div>
                    <div class="col-6">
                        <label for="bloodgroup" class="mr-2">BloodGroup</label>
                        <input type="text" class="form-control form-control mr-3" id="confpass"
                            placeholder="Enter Blood Group">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <label for="password" class="ml-2">Password</label>
                        <input type="text" class="form-control form-control ml-2" id="pass"
                            placeholder="Enter Password">
                    </div>
                    <div class="col-6">
                        <label for="confpass" class="mr-2">Confirm Password</label>
                        <input type="text" class="form-control form-control mr-3" id="confpass"
                            placeholder="Enter Password">
                    </div>
                </div>
                <div><button type="submit" class="btn btn-primary dim ml-2">Submit</button></div>
                <br>
            </form>

        </div>

    </div>

</div>
<br>
<br>
